/*** General Declarations ***/

body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/*** Header Section ***/

header {
  background-color: black;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header span {
  margin: 0.66rem 0;
}

/*** main-banner Section ***/

.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

.headline {
  margin-top: 9rem;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  pad
}

/*** Navigation Bar ***/

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 0.75rem 0;
}

nav a {
  text-decoration: none;
  color: white;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  ul.container {
    display: none;
  }

  ul.mobile-nav {
    display: block;
    text-align: center;
  }
}

/*** Product Section ***/

.products {
  margin: 3rem auto;
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  width: 30%;
}

.product-img {
  display: flex;
  border: 4px solid black;
  border-bottom: none;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 9rem;
}

.product-img img {
  max-width: 8rem;
}

.product-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white
}

.product-text h3 {
  padding: 0.5rem 0;
}

@@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }
}

.product-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 35%;

}

.hours {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 35%;

}
.pro-info-head {
  background-color: black;
}

.pro-info-head h3 {
  margin: 1rem 2rem;
}

.pro-info-text {
  color: black;
}

/*** Footer Section ***/

footer {
  background-color: black;

}

.copyright {
  display: flex;
  height: 5rem;
  align-items: center;
}

/*** Media Queries ***/
