/*** General Declarations ***/

html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
}

/*** Header Section ***/

header {
  background-color: black;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header span {
  margin: 0.66rem 0;
}

/*** Headline Section ***/

.main-banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

.headline {
  margin-top: 9rem;
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  pad
}
